/*Styling for the application*/
*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
body{
    /*#388E3C*/
    height: 100vh;
    background: #374046;
}

/* --- Navigation styling --- */
#navContent{
    position: absolute;
    z-index: 100;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 50px;
}
li a{ color: white;}

/* --- Page title --- */
#titleBar{
    background: #388E3C;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 3;
    height: 8%;
}
#titleSpan{
    width: 100%;
    height: 100%;
    display: table;
}
h2{
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/* --- Page content --- */

/* Container for page content */
#content{
    margin: auto;
    height: 85vh;
    z-index: 1;
}
/* First content container */
#content1{
    margin-top: 0;
    width: 100%;
    height: 82%;
    background-color: #4CAF50;
    z-index: 3;
    position: absolute;
}
/* Second content container */
#content2{
    bottom: 0;
    width: 100%;
    background: white;
    height: 10%;
    z-index: 2;
    position: absolute;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* --- Index -- */
#indexText{
    text-align: center;
    color: #eee;
}
#indexTable{
    color: white;
    margin: auto;
}
#indexTable td{ padding: 5px;}

/* --- View tests --- */
.splittestContent{ display: none;}
.input-group{ justify-content: center;}
#searchBtn{ background: #FF4081;}

/* Containers for images */
.imageContainer{
    background: #388E3C;
    height: 70%;
    vertical-align: middle;
    text-align: center;
    z-index: 3;
    margin: auto;
    color: white;
}
#img1, #img2{
    max-width: 300px;
    max-height: 300px;
    padding: 10px;
}
.caption{
    z-index: 3;
    text-align: center;
    width: 100%;
    height: 100%;
}
.designBtn{
    background: #FF4081;
    margin-bottom: 10px;    
}

/*Add images*/
.formContent{ display: none;}
#formDiv{
    background: #388E3C;
    height: 100%;
    position: inherit;
    vertical-align: middle;
    text-align: center;
    z-index: 4;
    margin: auto;
    border-radius: 4px;
}
#formDiv table{
    width: 100%;
    color: white;
    text-align: center;
    display: table;
}
#formDiv td{ width: 33%;}

.previewImage
{
    background: white;
    width: 150px;
    height: 150px;
    background: white;
    border: 1px solid black;
    display: inline-block;
}
#sendBtn{
    background: #FF4081;
    color: white;
    z-index: 3;
    margin-bottom: 20px;
}
#pageFooter{
    color: white;
    text-align: center;
}

/* --- General styling classes --- */
.addedMargin{ margin-top: 50px;}
.whiteBG{ background: white;}

.shadow1{ box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
.shadow2{ box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
.shadow3{ box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
.shadow4{ box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.shadow5{ box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}

