/*Styling for the application*/
body{
    background-color: #388E3C;
    margin: 0;
}

#content{
    background-color: white;
}
a{
    color: white;
}
span{
    background-color: white;
}
#content{
    margin: auto;
    height: 80vh;
}
#navContent{
   position: absolute;
    z-index: 100;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 50px;
}

li{
    width: 10vw;
}
